on:
  workflow_call:

env:
  DOTENV_CONFIG_PATH: "./.env.example"

name: "Tests"

jobs:
  tests:
    name: "Pull Request Checks"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v3

      - name: "Install Node.js"
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16

      - name: "Install the dependencies"
        run: yarn install --frozen-lockfile

      - name: "Lint the code"
        run: yarn lint

      - name: "Add lint summary"
        run: |
          echo "## Lint results" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

      - name: "Compile contracts"
        run: yarn compile

      - name: "Test the contracts and generate the coverage report"
        run: yarn coverage

      - name: "Add test summary"
        run: |
          echo "## Test results" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY
